<div class="container" 
    fxLayout="row" 
    fxLayout.sm="column" 
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLAyoutGap.xs="0">
        
    <div fxFlex="40">
        <mat-card *ngIf="dish">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{dish.image}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-action>
                <button mat-button [routerLink]="['/dishdetail', prev]">
                    <i class="fa fa-chevron-left fa-lg">Prev</i>
                </button>   
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]">
                    <i class="fa fa-chevron-right fa-lg">Next</i>
                </button>
            </mat-card-action>
        </mat-card>
    </div>
                
</div>

<div fxFlex="40">
    <mat-list *ngIf="dish">
        <h3>Comments</h3>
        <mat-list-item *ngFor="let comment of dish.comment">
            <h4 matline>{{comment.comment}}</h4>
            <p matline>{{comment.rating}}</p>
            <p matline>
                <span>--{{comment.comment}}  {{comment.date}}--</span>
            </p>
        </mat-list-item>
    </mat-list>
</div>

<div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading .. Please wait!</h4>
</div>