<div class="container footer"
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      fxLAyoutGap="10px">

      <div fxFlex="100" fxFlex.gt-sm="50">
          <div fxLayout="row">
              <div fxFlex="40" fxFlexOffset="20px">
                  <h4>Links</h4>
                 <mat-list>
                    <mat-list-item routerLink='/home'><a>Home</a></mat-list-item>
                    <mat-list-item routerLink='/about'><a>About</a></mat-list-item>
                    <mat-list-item routerLink='/menu'><a>Menu</a></mat-list-item>
                    <mat-list-item routerLink='/contact'><a>Contact</a></mat-list-item> 
                  </mat-list> 
              </div>
              <div fxFlex="55">
                  <h4>Our Address</h4>
                  <address style="text-size: 80%">
                    121,CLear Water Road<br> HEat Bay, Kwait<br>
                    <i class="fa fa-phone">: +9891098999999</i><br>
                    <i class="fa fa-fax">: +98762372736</i><br>
                    <i class="fa fa-envelope">jbjkbjj</i><br>
                    <a href="mailto:ljdslldsjlsd@gmail.com">adjikwhdfk@gmai.com</a>
                  </address>
              </div>
          </div>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45">
          <div style="text-align:center">
            <a mat-icon-button class="btn-google-plus" href="" ><i></i></a>
            <a mat-icon-button class="btn-facebook" href="" ><i></i></a>
            <a mat-icon-button class="btn-linkedin" href="" ><i></i></a>
            <a mat-icon-button class="btn-twitter" href="" ><i></i></a>
            <a mat-icon-button class="btn-youtube" href="" ><i></i></a>
            <a mat-icon-button class="btn-mail" href="" ><i></i></a>
          </div>

      </div>
      <div>
          <p>Copy Right</p>
      </div>
</div>
